#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
  background-color: #1f1f1f;
}

.layout-container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

.ant-layout-footer {
  padding: 0;
}

.dropdown-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
}

.dropdown-content.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-list {
  overflow: hidden;

  .slick-track {
    display: flex;

    .slick-slide {
      width: fit-content !important;
      margin: 0;
      padding: 0;
    }
  }
}
