#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
  background-color: #1f1f1f;
}

.layout-container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

.ant-layout-footer {
  padding: 0;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-list {
  overflow: hidden;

  .slick-track {
    display: flex;

    .slick-slide {
      width: 100% !important;
      margin: 0;
      padding: 0;
    }
  }
}

.single-image {
  width: 100% !important;
}

.custom-ant-menu {
  .ant-menu-submenu,
  .ant-menu-submenu-title {
    @apply whitespace-normal overflow-visible;
  }

  .ant-menu-item {
    @apply whitespace-normal text-white uppercase overflow-visible !mx-auto transition-colors rounded-[100px] select-none border-none;

    &-selected {
      @apply text-primary bg-[#383A42] border-b md:border-none;
    }

    &-active {
      @apply text-primary bg-[#383A42];
    }

    &:active {
      @apply bg-[#383A42] !important;
    }

    &:not(&-selected):hover {
      @apply text-primary;
    }
  }
}

.ant-carousel .slick-dots li {
  width: 28px;
  height: 4px;
  border-radius: 20px;
}
.ant-carousel .slick-dots li button {
  background: theme("colors.primary.DEFAULT") !important;
}

.ant-carousel .slick-dots-bottom {
  @media screen and (max-width: 768px) {
    bottom: 8px !important;
  }
}
